<div class="row">
    <div class="col-md-3">
      <div class="total_users">
        <div class="row">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="/images/Vector.png" />
          </div>
          <div class="col-md-8">
            <h2><%= totalUsersCount %></h2>
            <h3>Total Users</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="total_users">
        <div class="row">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="/images/vector1.png" />
          </div>
          <div class="col-md-8">
            <h2><%= totalDriversCount %></h2>
            <h3>Total Drivers</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="total_users">
        <div class="row">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="/images/vector2.png" />
          </div>
          <div class="col-md-8">
            <h2><%= totalRidersCount %></h2>
            <h3>Total Riders</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="total_users">
        <div class="row">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="/images/vector3.png" />
          </div>
          <div class="col-md-8">
            <h2>KES<%=getAdmin.total_earning %></h2>
            <h3>Total Earning</h3>
          </div>
        </div>
      </div>
    </div>
  </div>