<div class="col-md-8 col-12">
    <div class="search-bar">
        <img src="/images/search.png" />
        <input type="search" id="searchInput" class="form-control search" placeholder="Search" />
    </div>
</div>