<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
</head>
<body>
<div class="col-md-3 left-sidebar" id="left">
    <div class="pt-5">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-sm-12 d-flex justify-content-center">
          <a href="" class=""><img class="logo_img" src="/images/logo.png" width="100px"/></a>
        </div>
      </div>
      <div class="col-md-4"></div>
      <hr class="line" />
      <ul class="nav nav-pills flex-column" id="menu">
        <!-- <li class="nav-item" >
          <a href="/admin/renderIndex" class="nav-link align-middle"><img src="/images/users.png" width="20px"/><span class="ms-3">All Users</span></a>
        </li> -->
        <li class="nav-item" >
          <a href="/admin/renderRider" class="nav-link align-middle"> <img src="/images/rider.png" width="20px"/><span class="ms-3">Riders</span></a>
        </li>
        <li class="nav-item" >
          <a href="/admin/renderDriver" class="nav-link align-middle"> <img src="/images/driver.png" width="20px"/><span class="ms-3">Drivers</span></a>
        </li>
        <li class="nav-item">
          <a href="/admin/renderHelpSupport" class="nav-link align-middle"><img src="/images/help.png" width="20px"/><span class="ms-3">Manage Help & Support</span></a>
        </li>
        <li class="nav-item" id="terms">
          <a href="/admin/termsAndConditions" class="nav-link align-middle"><img src="/images/term.png" width="17px"/><span class="ms-3">Terms & Conditions</span></a>
        </li>
        <li class="nav-item">
          <a href="/admin/massPushPage" class="nav-link align-middle"><img src="/images/mass.png" width="17px"/><span class="ms-3">Mass push</span></a>
        </li>
        <!-- <li class="nav-item">
          <a href="/admin/renderProfile" class="nav-link align-middle"><img src="/images/profile.png" width="17px"/><span class="ms-3">Profile</span></a>
        </li> -->
      </ul>
    </div>
  </div>
</body>
<script>
  
  const currentPageURL = window.location.pathname;
  // Get all the <a> elements within the #menu
  const menuLinks = document.querySelectorAll('#menu a');

  // Loop through the links and compare their href attributes with the current URL
  menuLinks.forEach(link => {
    const linkURL = new URL(link.href).pathname;
    if (linkURL === currentPageURL) {
      if (link.parentElement.id !== 'terms') {
        link.parentElement.classList.add('active'); // Add the active class to the parent <li>
      }
    }
  });
</script>
</html>
