<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Houzmart</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="shortcut icon" href="/images/" type="image/x-icon"> -->

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">

        <!-------------- Added Sidebar here --------------->
        <%- include ('./partials/sidebar.ejs') %>

        <div class="col-md-9">
          <div class="row">

            <!------- Add Full Navbar here --------->
            <%- include ('./partials/navwithoutsearch.ejs') %>
            
            <!----------------- rider section is Starts here -------------->
            
            <div class="right-sidebar1">
              <div class="riders_tab">
                <h2>Change Password</h2>
                <!-- <div class="tab-content table-responsive"> -->
                <form method="post" action="/admin/changePassword" enctype="x-www-form-urlencoded">
                  <div class="input-icons">
                    <label for="name" class="label_txt mt-3">Old Password</label> 
                    <img class="pswrd" src="/images/password.png"><input type="password" name="oldPassword" class="form-control new_project" placeholder="" aria-label="" required>
                    <label for="name" class="label_txt mt-3">New Password</label>
                    <img class="pswrd2" src="/images/password.png"><input type="password" name="newPassword" class="form-control new_project" placeholder="" aria-label="" required>
                    <label for="name" class="label_txt mt-3">Enter New Password</label>
                    <img class="pswrd3" src="/images/password.png"><input type="password" name="confirmPassword" class="form-control new_project" placeholder="" aria-label="" required>
                  </div>
                  <button class="btn btn-info pswrs-save">Save</button>
                </form>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      function menuToggle() {
        const toggleMenu = document.querySelector(".menu");
        toggleMenu.classList.toggle("active");
      }
    </script>
  </body>
</html>
