<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pinkboda</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="shortcut icon" href="/images/" type="image/x-icon"> -->

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- custom css -->
  <link rel="stylesheet" href="/assets/css/styles.css" />
</head>

<body>
  <div class="login_page">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
          <div class="login_img">
            <img src="/images/login.png" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="forgotback_btn d-flex">
            <a href=""> <img src="/images/back_btn.png" /></a>

            <div class="forgot">
              <h2>Forgot Password</h2>
              <p>Please enter your registered email address to recover your password</p>
            </div>
          </div>
          <form action="/admin/forgotPassword" method="post">
            <div class="mb-5">
              <input type="email" name="email" class="form-control field-1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" />
            </div>
            <button type="button" class="btn btn-primary butn2 mt-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function menuToggle() {
    const toggleMenu = document.querySelector(".menu");
    toggleMenu.classList.toggle("active");
  }
</script>
<script>
  const toggle = document.getElementById("toggle");
  const left = document.getElementById("left");
  const bodyClass = document.querySelector("body");
  toggle.onclick = function () {
    toggle.classList.toggle("active");
    left.classList.toggle("active");
    bodyClass.classList.toggle("bodyOverflow");
  };
</script>
</html>
