<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pinkboda</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="shortcut icon" href="/images/" type="image/x-icon"> -->

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Data Table CSS -->
    <link rel='stylesheet' href='https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css'>
    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
   
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>

<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">

      <!-------------- Added Sidebar here --------------->
      <%- include ('./partials/sidebar.ejs') %>

      <div class="col-md-9">
        <div class="row">

        <!------- Add Full Navbar here --------->
        <%- include ('./partials/navbar.ejs') %>
        
        <!------------ rider section is Starts here -------------->

          <div class="right-sidebar1">
            <form method="POST" action="/admin/sendMassPush" enctype="x-www-form-urlencoded">
              <div class="riders_tab">
                <h2>Mass Push</h2>
                <div class="tab-content table-responsive">
                  <select class="form-select field" name="role" aria-label="Default select example" required>
                    <option value="Both" selected>All</option>
                    <option value="Rider">Rider</option>
                    <option value="Driver">Driver</option>
                  </select>
                  <label for="title">Title</label>
                  <input type="text" class="form-control title" name="title" required/>
                  <label for="comment">Description</label>
                  <textarea name="description" class="form-control desc" rows="5" id="comment" required></textarea>
                  <button type="submit" class="btn btn-info submit">Send</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- jQuery -->
  <script src='https://code.jquery.com/jquery-3.7.0.js'></script>
  <!-- Data Table JS -->
  <script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
  <script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
  <script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
  
<script>
  function menuToggle() {
    const toggleMenu = document.querySelector(".menu");
    toggleMenu.classList.toggle("active");
  }
</script>
<script>
  const toggle = document.getElementById("toggle");
  const left = document.getElementById("left");
  const bodyClass = document.querySelector("body");
  toggle.onclick = function () {
    toggle.classList.toggle("active");
    left.classList.toggle("active");
    bodyClass.classList.toggle("bodyOverflow");
  };
  
  document.getElementById("searchbar").style.visibility = "hidden"

</script>
</body>
</html>
