/* global css */
@font-face {


    font-family: PoppinsLight;
    src: url(../../images/fonts/PoppinsLight.ttf);

}

@font-face {
    font-family: PoppinsMedium;
    src: url(../../images/fonts/PoppinsMedium.ttf);
}

@font-face {
    font-family: PoppinsRegular;
    src: url(../../images/fonts/PoppinsRegular.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(../../images/fonts/PoppinsSemiBold.ttf);
}

@font-face {
    font-family: Begum-W03-Bold-1;
    src: url(../../images/fonts/Begum-W03-Bold-1.ttf);
}



:root {
    --Primarycolor: #E40984;
    --Secondarycolor: #000;
    --white: white;
    --grey: #F1F1F1;
    --fontcibl: CIBL;
    --fontmedium: PoppinsMedium;
    --fontregular: PoppinsRegular;
    --fontsemibold: PoppinsSemiBold;
    --fontlight: PoppinsLight;
}


/* Navbar */

li.nav-item a {
    color: #878787;
    font-size: 18px;
    font-family: var(--fontregular);
    margin: 8px 0px;
}

li.nav-item.active a {
    color: #000;
}

img.logo_img {
    margin-bottom: 26px;
}

hr.line {
    border-top: 2px solid #D9D9D9 !important;
    width: 95%;
    /* margin-left: 29px; */
    margin: 10px 15px !important;
}

.search-bar {
    position: relative;
    width: 80%;
}

.search-bar img {
    position: absolute;
    top: 13px;
    left: 14px;
    width: 15px;
}

input.form-control.search {
    padding: 0px 50px;
    border-bottom: 1px solid #E7E7E7 !important;
    height: 40px;
    border: none;
    border-radius: 0;
}

img.notification-img {
    width: 28px;
    margin-top: 14px;
    margin-left: 1rem;
}

img.img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    margin-left: 1rem;
}

.dropdown-menu.dropdown-menu-end.show {
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0px 0px 4px 1px #0000000d;
    width: 230px;
    border-radius: 21px;
    border: none;
    /* transition: 0.5s; */
    margin-top: 10px !important;
}

.dropdown-menu.dropdown-menu-end.profile img {
    width: 20px;
}

.locker_img img {
    width: 20px;
    height: 20px;
}

.dropdown-menu.dropdown-menu-end a {
    font-size: 16px;
}

.right-sidebar {
    /* width: 100%; */
    display: block;
    height: calc(108vh - 80px);
    overflow: auto;
    background: #FFFAFA;
    padding: 50px 50px;
}

.right-sidebar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.total_users {
    background: #fff;
    padding: 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 0px 4px 0px #c9c9c945;
}

.total_users img {
    width: 50px;
}

.total_users h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    /* text-align: center; */
}

.total_users h3 {
    font-size: 13px;
    font-weight: 500;
    color: #B0B0B0;
    /* text-align: center; */
}

ul.nav.nav-tabs.project {
    border-bottom: 0px solid #D9D9D9;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

ul.nav.nav-tabs.project a.active {
    border-bottom: 2.5px solid #000 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    padding: 0 15px;
    margin-top: 3px;
    margin-left: 20px;
}

ul.nav.nav-tabs.project a {
    border: none;
    font-size: 15px;
    color: #B0B0B0;
    font-weight: 500;
    padding: 0 35px;
}

.users_tab {
    margin-top: 3rem;
    background: #fff;
    border-radius: 17px;
    padding: 15px 15px;
}

.tab-content {
    border-top: 0.5px solid #969696;
    margin-top: 1rem;
}

div#user {
    margin-top: 1.5rem;
}

div#riders {
    margin-top: 1.5rem;
}

div#drivers {
    margin-top: 1.5rem;
}

img.three-dot {
    width: 26px;
}

img.profile_img {
    width: 45px;
    height: 45px;
    border-radius: 60px;
    object-fit: cover;
    margin-left: 1.5rem;
}

tr.tabl-size th {
    font-size: 14px;
    font-weight: 500;
    color: #636363;
    padding-bottom: 20px;
    border-bottom: 1.5px solid #F3F3F3 !important;
    white-space: nowrap;
}

tr.tabl_size td {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding: 12px 7px;
}

tr.tabl_size {
    border-bottom: 1.5px solid #F3F3F3 !important;
}

tr.tabl_size th {
    padding: 15px 0px;
}


/* Riders */
.riders_tab {
    background: #fff;
    border-radius: 17px;
    padding: 15px 15px;
    margin-top: 2rem;
}

.right-sidebar1 {
    /* width: 100%; */
    display: block;
    height: calc(108vh - 80px);
    overflow: auto;
    background: #FFFAFA;
    padding: 20px 30px;
}

.right-sidebar1::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.riders_tab h2 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-left: 1rem;
    /* border-bottom: 0.5px solid #969696; */
    padding-bottom: 14px;
}

h2.riders_tab1 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-left: 1rem;
    border-bottom: 0.5px solid #969696;
    padding-bottom: 14px;
}

button.btn.btn-info.data {
    background: #E40984;
    border-color: #E40984;
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 9px;
}

tr.tabel_size {
    border-bottom: 1.5px solid #F3F3F3 !important;
}

tr.tabel_size td {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding: 16px 7px;
}

/* driver */
img.passport_img {
    width: 40px;
    height: 40px;
    border-radius: 17px;
    object-fit: cover;
}


img.idcard_img {
    width: 40px;
    height: 40px;
    border-radius: 17px;
    object-fit: cover;
}

img.license_img {
    width: 40px;
    height: 40px;
    border-radius: 17px;
    object-fit: cover;
}

img.insurance_img {
    width: 40px;
    height: 40px;
    border-radius: 17px;
    object-fit: cover;
}

table.table.driver {
    overflow: auto;
    width: 100%;
}

table.table.driver::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

ul.nav.nav-tabs.driver a.active {
    border-bottom: 3px solid #E40984 !important;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    padding: 0 15px 5px 15px;
    margin-top: 3px;
    margin-left: 20px;
}

ul.nav.nav-tabs.driver a {
    border: none;
    font-size: 15px;
    color: #B0B0B0;
    font-weight: 500;
    padding: 0 35px;
}

ul.nav.nav-tabs.driver {
    border-bottom: 0px solid #D9D9D9;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

button.btn.btn-info.accept {
    background: #E40984;
    border-color: #E40984;
    padding: 4px 9px;
    font-size: 14px;
    color: #fff;
    border-radius: 9px;
}

button.btn.btn-info.reject {
    background: #E7E7E7;
    border-color: #E7E7E7;
    padding: 4px 12px;
    font-size: 14px;
    color: #000;
    border-radius: 9px;
    margin-left: -1em;
}
div#requests {
    margin-top: 1.5rem;
}

#menu .active a {
    color: #000; /* Change the text color when active */
  }
  
  #menu .active img {
    filter: brightness(0) saturate(0%);
}

/* Total rides */
img.contact_img {
    width: 20px;
    border-radius: 17px;
    object-fit: cover;
}

i.fa.fa-star.rating {
    color: #FFB800;
}

tr.tabl-size a {
    font-size: 14px;
    font-weight: 500;
    color: #636363;
    padding-bottom: 20px;
    border-bottom: 1.5px solid #F3F3F3 !important;
    white-space: nowrap;
    text-decoration: none;
}

.action img {
    position: relative;
}

.action .menu.active {
    /* top: 95px; */
    visibility: visible;
    opacity: 1;
}

.action .menu {
    position: absolute;
    top: 95px;
    right: 3%;
    padding: 20px 25px;
    background: #fff;
    box-shadow: 0px 0px 7px 1px #0000000d;
    width: 500px;
    border-radius: 21px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

.menu h2 {
    font-size: 25px;
    font-weight: 500;
    font-family: var(--fontbold-1);
    color: #000;
    margin-bottom: 30px;
}

img.img-notification {
    width: 55px;
    /* margin-top: 10px; */
    border-radius: 50px;
}

h3.mess-txt {
    font-size: 18px;
    /* margin-top: 14px; */
    font-weight: 400;
    color: #000;
}

span.notification-txt {
    font-weight: 700;
}

p.date-time {
    font-size: 14px;
    color: #cacaca;
    font-weight: 200;
}

/* help & support */
td.helpsupport {
    font-size: 12px !important;
    width: 220px;
}

span.helpsupport {
    color: #a1a1a1;
}

/* mas push */
.tab-content.table-responsive label {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-top: 2rem;
}

input.form-control.title {
    width: 80%;
    border: 1px solid #b3b3b3;
    border-radius: 21px;
    margin-top: 15px;
    height: 60px;
}

textarea.form-control.desc {
    width: 80%;
    border: 1px solid #b3b3b3;
    border-radius: 21px;
    margin-top: 15px;
}

button.btn.btn-info.submit {
    background: #E40984;
    border: none;
    color: #fff;
    padding: 12px 40px;
    margin-top: 30px;
    border-radius: 17px;
    margin-bottom: 3rem;
}

.profile_section {
    background: linear-gradient(180deg, rgba(228, 9, 132, 0.72) 0%,
            rgba(228, 9, 132, 0.67) 20.31%, rgba(228, 9, 132, 0.00) 100%);
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 15px;
    padding-top: 10rem;
    /* border-top: 0.5px solid #969696; */
}

img.profile-pic {
    width: 160px;
    border-radius: 100px;
    height: 160px;
    position: relative;
    object-fit: cover;
}
.hauzmart-admin {
    display: flex;
    align-items: baseline;
    margin-top: -5rem;
    margin-left: 2rem;
    position: relative;
}

.profile_txt {
    margin-left: -3rem;
}

.profile_txt h1 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

.profile_txt p {
    font-size: 16px;
    font-weight: 400;
    color: #828282;
}

button.btn.btn-primary.edit {
    background: #E40984;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    border-radius: 12px;
}

img.edit_icon {
    width: 16px;
    margin-right: 6px;
}

label.label_txt {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

input.form-control.new_project {
    border: 1px solid #B3B3B3;
    border-radius: 17px;
    height: 60px;
    margin-top: 10px;
    width: 60%;
    text-indent: 50px;
}

input.form-control.new_project::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

img.name {
    position: absolute;
    top: 31%;
    left: 2.5%;
    width: 20px;
}

.input-icons {
    position: relative;
    margin-left: 2.5rem;
}

img.mail {
    position: absolute;
    top: 83%;
    left: 2.5%;
    width: 20px;
}

img.camera-pic {
    position: absolute;
    top: 72%;
    right: 82%;
    width: 40px;
}

button.btn.btn-primary.save {
    background: #E40984;
    border: none;
    padding: 10px 35px;
    font-size: 16px;
    color: #fff;
    border-radius: 12px;
    margin-right: 2rem;
}

button.btn.btn-primary.cancel {
    background: #EBEBEB;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    color: #000;
    border-radius: 12px;
}

img.pswrd {
    position: absolute;
    top: 21%;
    left: 2.5%;
    width: 20px;
}

img.pswrd2 {
    position: absolute;
    top: 54%;
    left: 2.5%;
    width: 20px;
}

img.pswrd3 {
    position: absolute;
    top: 87%;
    left: 2.5%;
    width: 20px;
}

button.btn.btn-info.pswrs-save {
    background: #e40984;
    border: none;
    margin-top: 2rem;
    color: #fff;
    padding: 10px 30px;
    border-radius: 13px;
    margin-left: 3rem;
}

button.navbar-toggler {
    display: none;
}

.dropdown_field button {
    background: transparent;
    border: 1px solid #b3b3b3;
    border-radius: 21px;
    height: 60px;
    width: 80%;
    margin-top: 31px;
    color: #000;
    text-align: left;
    padding: 0px 30px;
}

select.form-select.field {
    /* background: transparent; */
    border: 1px solid #b3b3b3;
    border-radius: 21px;
    height: 60px;
    width: 80%;
    margin-top: 40px;
    color: #000;
    padding: 0px 30px;
}

.btn-check:focus+.btn-secondary,
.btn-secondary:focus {
    color: #000 !important;
    background-color: transparent !important;
    border-color: 1px solid #b3b3b3 !important;
    box-shadow: 0 0 0 0rem rgba(130, 138, 145, .5) !important;
}

.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show>.btn-secondary.dropdown-toggle {
    color: #000 !important;
    background-color: transparent !important;
    border-color: 1px solid #b3b3b3 !important;
}

.btn-secondary:hover {
    color: #000 !important;
    background-color: transparent !important;
    border-color: 1px solid #b3b3b3 !important;
}

@media (max-width: 767.98px) {
    body.bodyOverflow {
        overflow: hidden;
    }

    button.navbar-toggler {
        display: contents;
        margin-bottom: 18px;
    }


    .left-sidebar#left.active {
        left: 0;
        /* top: 60px; */
    }

    .right-sidebar {
        width: auto;
        height: initial;
        /* padding-left: 0; */
        position: relative;
        padding-bottom: 30px;
    }

    .left-sidebar#left {
        top: 0;
        left: -100%;
        /* height: 100%; */
        width: 100%;
        /* box-shadow: -1px -2px 30px black; */
        /* padding: 6px 14px; */
        /* border: 4px black solid; */
        /* border-radius: 20px; */
        transition: all 1s ease;
        background: #fff;
        position: fixed;
        z-index: 3;
        overflow-x: hidden;
        top: 65px;
        /* display: none; */
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin: 0px -28px;
    }

    .search-bar {
        position: relative;
        width: 80%;
        padding-bottom: 16px;
        margin-top: -52px;
    }

    img.img-profile {
        width: 40px;
        margin-left: 47px;
        margin-right: 6px;
    }

    img.notification-img {
        width: 28px;
        margin-top: 14px;
        margin-left: 0rem;
    }

    .total_users {
        background: #fff;
        padding: 30px 30px;
        border-radius: 11px;
        box-shadow: 0px 0px 4px 0px #c9c9c945;
        margin-bottom: 14px;
    }

    .total_users img {
        width: 60px;
    }

    .total_users h2 {
        font-size: 25px;
        font-weight: 700;
        color: #000;
        text-align: center;
        margin-top: 10px;
    }

    .total_users h3 {
        font-size: 13px;
        font-weight: 500;
        color: #B0B0B0;
        text-align: center;
    }

    .right-sidebar {
        /* width: 100%; */
        display: block;
        height: calc(108vh - 80px);
        overflow: auto;
        background: #FFFAFA;
        padding: 20px 10px;
    }

    ul.nav.nav-tabs.project a {
        border: none;
        font-size: 15px;
        color: #B0B0B0;
        font-weight: 500;
        padding: 0 18px;
        white-space: nowrap;
    }

    ul.nav.nav-tabs.project a.active {
        border-bottom: 2.5px solid #000 !important;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 20px;
        color: #000;
        font-weight: 500;
        padding: 0 15px;
        margin-top: 3px;
        margin-left: 7px;
    }

    tr.tabl-size th {
        font-size: 14px;
        font-weight: 500;
        color: #636363;
        padding-bottom: 20px;
        border-bottom: 1.5px solid #F3F3F3 !important;
        white-space: nowrap;
        padding-left: 20px;
    }

    tr.tabl_size td {
        font-size: 15px;
        font-weight: 500;
        color: #000;
        padding: 12px 18px;
        white-space: nowrap;
    }

    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: scroll;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 0px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    .action .menu {
        position: absolute;
        top: 135px;
        right: 9%;
        padding: 20px 25px;
        background: #fff;
        box-shadow: 0px 0px 7px 1px #0000000d;
        width: 320px;
        border-radius: 21px;
        transition: 0.5s;
        visibility: hidden;
        opacity: 0;
        z-index: 9999;
    }

    img.img-notification {
        width: 45px;
        /* margin-top: 10px; */
        border-radius: 50px;
    }

    h3.mess-txt {
        font-size: 17px;
        /* margin-top: 14px; */
        font-weight: 400;
        color: #000;
        margin-left: 10px;
    }

    p.date-time {
        font-size: 14px;
        color: #cacaca;
        font-weight: 200;
        margin-bottom: 0;
        margin-left: 11px;
        margin-top: -4px;
    }

    .right-sidebar1 {
        /* width: 100%; */
        display: block;
        height: calc(108vh - 80px);
        overflow: auto;
        background: #FFFAFA;
        padding: 20px 10px;
    }

    tr.tabel_size td {
        font-size: 15px;
        font-weight: 500;
        color: #000;
        padding: 16px 20px;
        white-space: nowrap;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0 !important;
    }

    .dropdown-menu.dropdown-menu-end.show {
        padding: 10px 20px;
        background: #fff;
        box-shadow: 0px 0px 4px 1px #0000000d;
        width: 230px;
        border-radius: 21px;
        border: none;
        /* transition: 0.5s; */
        margin-top: 7px !important;
    }

    .riders_tab h2 {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        margin-left: 1rem;
        /* border-bottom: 0.5px solid #969696; */
        padding-bottom: 0px;
    }

    div#user {
        margin-top: 0.5rem;
    }

    .profile_txt h1 {
        font-size: 25px;
        font-weight: 700;
        color: #000;
    }

    textarea.form-control.desc {
        width: 100%;
        border: 1px solid #b3b3b3;
        border-radius: 21px;
        margin-top: 15px;
    }

    button.btn.btn-info.submit {
        background: #E40984;
        border: none;
        color: #fff;
        padding: 15px 45px;
        margin-top: 30px;
        border-radius: 17px;
        margin-bottom: 3rem;
    }

    input.form-control.new_project {
        border: 1px solid #B3B3B3;
        border-radius: 17px;
        height: 60px;
        margin-top: 10px;
        width: 100%;
        text-indent: 50px;
    }

    img.pswrd {
        position: absolute;
        top: 21%;
        left: 9.5%;
        width: 20px;
    }

    .input-icons {
        position: relative;
        margin-left: 0.5rem;
    }

    img.pswrd2 {
        position: absolute;
        top: 54%;
        left: 9.5%;
        width: 20px;
    }

    img.pswrd3 {
        position: absolute;
        top: 87%;
        left: 9.5%;
        width: 20px;
    }

    button.btn.btn-info.pswrs-save {
        background: #e40984;
        border: none;
        margin-top: 2rem;
        color: #fff;
        padding: 14px 45px;
        border-radius: 13px;
        margin-left: 1rem;
    }

    .riders_tab h2 {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        margin-left: 8px;
        /* border-bottom: 0.5px solid #969696; */
        padding-bottom: 0px;
    }

    ul.nav.nav-tabs.driver a {
        border: none;
        font-size: 14px;
        color: #B0B0B0;
        font-weight: 500;
        padding: 0 20px;
        white-space: nowrap;
    }

    ul.nav.nav-tabs.driver a.active {
        border-bottom: 3px solid #E40984 !important;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        padding: 0 15px 5px 10px;
        margin-top: 3px;
        margin-left: 5px;
    }

    img.profile-pic {
        width: 66px;
        border-radius: 60px;
        height: 100%;
        position: relative;
    }

    .hauzmart-admin {
        display: flex;
        align-items: baseline;
        margin-top: -5rem;
        margin-left: 8px;
        position: relative;
    }

    .profile_txt {
        margin-left: 0rem;
    }

    button.btn.btn-primary.edit {
        background: #E40984;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        color: #fff;
        border-radius: 12px;
        margin-left: 126px;
    }

    img.name {
        position: absolute;
        top: 31%;
        left: 7.5%;
        width: 20px;
    }

    img.mail {
        position: absolute;
        top: 83%;
        left: 7.5%;
        width: 20px;
    }

    img.camera-pic {
        position: absolute;
        top: 53%;
        right: 73%;
        width: 30px;
    }

    button.btn.btn-primary.cancel {
        background: #EBEBEB;
        border: none;
        padding: 7px 18px;
        font-size: 15px;
        color: #000;
        border-radius: 12px;
        height: 46px;
        margin-top: 1rem;
    }

    button.btn.btn-primary.save {
        background: #E40984;
        border: none;
        padding: 10px 25px;
        font-size: 15px;
        color: #fff;
        border-radius: 12px;
        margin-right: 1rem;
        height: 46px;
        margin-top: 1rem;

    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .right-sidebar {
        /* width: 100%; */
        display: block;
        height: calc(108vh - 80px);
        overflow: auto;
        background: #FFFAFA;
        padding: 30px 10px;
    }

    img.notification-img {
        width: 28px;
        margin-top: 14px;
        margin-left: -1rem;
    }

    img.img-profile {
        width: 50px;
        margin-left: -20px;
    }

    .total_users img {
        width: 35px;
    }

    .total_users h2 {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        /* text-align: center; */
    }

    .total_users h3 {
        font-size: 10px;
        font-weight: 500;
        color: #B0B0B0;
        /* text-align: center; */
    }

    .total_users {
        background: #fff;
        padding: 20px 20px;
        border-radius: 11px;
        box-shadow: 0px 0px 4px 0px #c9c9c945;
        height: 90px;
        width: 127px;
    }

    ul#menu img {
        width: 15px !important;
    }

    ul.nav.nav-pills.flex-column span {
        margin-left: 4px !important;
        font-size: 15px;
    }

    img.profile-pic {
        width: 120px;
        border-radius: 60px;
        height: 100%;
        position: relative;
    }

    .profile_txt h1 {
        font-size: 26px;
        font-weight: 700;
        color: #000;
    }

    .profile_txt p {
        font-size: 15px;
        font-weight: 400;
        color: #828282;
    }

    button.btn.btn-primary.edit {
        background: #E40984;
        border: none;
        padding: 10px 15px;
        font-size: 15px;
        color: #fff;
        border-radius: 12px;
    }

    input.form-control.new_project {
        border: 1px solid #B3B3B3;
        border-radius: 17px;
        height: 60px;
        margin-top: 10px;
        width: 90%;
        text-indent: 50px;
    }

    img.name {
        position: absolute;
        top: 31%;
        left: 5.5%;
        width: 20px;
    }

    img.mail {
        position: absolute;
        top: 83%;
        left: 5.5%;
        width: 20px;
    }

    button.btn.btn-primary.save {
        background: #E40984;
        border: none;
        padding: 10px 35px;
        font-size: 15px;
        color: #fff;
        border-radius: 12px;
        margin-right: 11rem;
    }

    button.btn.btn-primary.cancel {
        background: #EBEBEB;
        border: none;
        padding: 10px 30px;
        font-size: 15px;
        color: #000;
        border-radius: 12px;
    }

    tr.tabel_size td {
        font-size: 15px;
        font-weight: 500;
        color: #000;
        padding: 16px 7px;
        white-space: nowrap;
    }

    tr.tabl_size td {
        font-size: 15px;
        font-weight: 500;
        color: #000;
        padding: 12px 7px;
        white-space: nowrap;
    }
}

div#example_length {
    display: none;
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: .125;
    right: 10px;
    line-height: 9px;
    font-size: .8em;
    display: none;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: .85em;
    display: none;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin-top: -28px;
    display: none;
}

/* .page-item.disabled .page-link {
    color: #7e7e7e;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
    font-size: 13px;
} */

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: #7e7e7e;
    font-size: 13px;
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #e40984;
    border-color: #e40984;
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: #000000;
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 10px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.login_img img {
    width: 100%;
}

.logIn h2 {
    font-size: 36px;
    color: #000;
    font-family: var(--fontsemibold);
}

.logIn p {
    font-size: 15px;
    color: #959595;
    font-family: var(--fontregular);
}

.logIn.text-center a {
    text-decoration: none;
}

.field-1 {
    margin: 0px 40px 0px 0px;
    line-height: 2.5;
    height: 85px;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 0px solid #fff;
    border-bottom: 1px solid #e8e8e8 !important;
    width: 100% !important;
    background: transparent !important;
    border-radius: 0px;
    padding: 0px 0px;
}

.pasword {
    margin: 0px 40px 0px 0px;
    line-height: 2.5;
    height: 85px;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-top: 0px solid #fff;
    border-bottom: 0px solid #fff;
    border-bottom: 1px solid #e8e8e8 !important;
    width: 100% !important;
    background: transparent !important;
    border-radius: 0px;
    padding: 0px 0px;
}

button.btn.btn-primary.butn2.mt-2 {
    background: #E40984;
    border: none;
    width: 100%;
    height: 58px;
    border-radius: 20px;
    /* margin-left: 2rem; */
    font-size: 16px;
    font-family: var(--fontregular);
}

.remember {
    width: 72%;
}

.remember.d-flex h3 {
    font-size: 16px;
    color: #6F6E6E;
    font-family: var(--fontregular);
    margin-left: 12px;
}

h2.forgot-pwd {
    font-size: 17px;
    color: #000;
    width: 100%;
    text-align: right;
    /* font-family: var(--fontmedium); */
}

a.forgot-link {
    text-decoration: none;
}

.login_page {
    margin-top: 3rem;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0px;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    border: 1.5px solid #E40984;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}

.form-check-input:focus {
    border-color: #E40984;
    outline: 0;
    box-shadow: 0 0 0 0 #E40984;
}

.form-check-input[type=checkbox] {
    border-radius: 50px;
}

.form-check-input:active {
    filter: brightness(100%);
}

.form-check-input:checked[type=checkbox] {
    background-image: url('../../images/tick1.svg');
    background-size: 100% 56%;
}

input[type=checkbox]:checked {
    background-color: #E40984 !important;
    color: #ffffff !important;
}

.forgotback_btn img {
    width: 18px;
    margin-right: 15px;
    margin-top: -3px;
}

.forgot h2 {
    font-size: 36px;
    color: #000;
    font-family: var(--fontsemibold);
    text-align: center;
}

.forgot p {
    font-size: 16px;
    color: #000;
    font-family: var(--fontregular);
    padding: 3px 69px;
    text-align: center;
}

ul.pagination {
    border: 2px solid #a0a0a0;
    /* padding: 2px 0px; */
    border-radius: 8px;
    width: fit-content;
    max-width: 100%;
}
ul.pagination a {
    padding: 11px 11px;
    font-size: 18px;
    border-right: 2px solid #a0a0a0;
    color: #000;
    text-decoration: none;
}
ul.pagination li {
    padding: 10px 0px;
}
/* li.\"active\" {
    z-index: 3;
    background-color: #e40984;
    border-color: #e40984;
} */
li.\"active\" a {
    color: #fff;
    background-color: #e40984;
    border-color: #e40984;
}